<h2>References</h2>
<hr>
<div class="container">
    <div class="container box shadow">
        <h4>Mr. James Hermann</h4>
        <small><em>Teacher </em>|<em> Parkway West High School</em></small> 
        <br>
        <!-- https://kb.benchmarkemail.com/how-do-i-add-an-email-link-i-want-to-create-a-link-that-if-clicked-on-it-opens-the-clients-email-application/ -->
        <!-- "mailto:" -->
        <a href="mailto:jhermann@parkwayschools.net">jhermann@parkwayschools.net </a>| (314) 397-2918
    </div>
    <div class="container box shadow">
        <h4>Mr. Jason Townsend</h4>
        <small><em>Teacher </em>|<em> Parkway West High School</em></small> 
        <br>
        <a href="mailto:jtownsend@parkwayschools.net">jtownsend@parkwayschools.net </a>| (636) 399-9150
    </div>
    <div class="container box shadow">
        <h4>Mr. Shawn Clark</h4>
        <small><em>Manager </em>|<em> Campus Dining Services</em></small> 
        <br>
        <a href="mailto:clarksh@missouri.edu">clarksh@missouri.edu </a>| (314) 581-3942
    </div>
</div>
